@charset "UTF-8";
// theme name ojtam
// http://localhost/ojtam/




.logo {
    position: absolute;
    left: 20px;
    z-index: 1;

}

.headers {


    .menu_bar {
        display: flex;
        justify-content: right;
        margin: 30px;

        .menu_li {
            margin-left: 20px;
        }
    }

    .kv {
        max-width: 1152px;
        margin: 0 auto;
        padding: 0 50px;
        position: relative;

        .main_visual {
            width: 100%;
        }

        .cursive_img {
            right: -1%;
            top: 247px;
            position: absolute;

        }

        .cursive_sp {
            display: none;
            position: absolute;

        }
    }
    .smalltitle{
        margin-left: 30px;
    }
}