body {

    justify-content: center;

    .contents {
        width: 1152px;
        margin: 0 auto;

        header {
            width: 100%;
            margin-top: 60px;

            nav {
                ul {
                    display: flex;
                    justify-content: right;

                    li {
                        margin-left: 20px;
                        list-style: none;
                    }
                }
            }
        }

        .main_visual {
            display: flex;
            justify-content: center;
            margin-top: 50px;

        }

        .cursive_imgs {
            position: relative;

            #logo {
                position: absolute;
                margin-top: -589px;
                z-index: 1;
                width: 21%;

            }

            #cursive_img {
                position: absolute;
                margin-top: -236px;
                margin-left: 654px;
                width: 43%;

            }
        }


    }
}