@charset "UTF-8";
.headers header .logo {
  position: absolute;
  left: 20px;
  z-index: 1;
}
.headers .menu_bar {
  display: flex;
  justify-content: right;
  margin: 30px;
}
.headers .menu_bar .menu_li {
  margin-left: 20px;
}
.headers .kv {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}
.headers .kv .main_visual {
  width: 100%;
}
.headers .kv .cursive_img {
  right: -1%;
  top: 247px;
  position: absolute;
}
.headers .kv .cursive_sp {
  display: none;
  position: absolute;
}
.headers .smalltitle {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .headers header {
    display: flex;
    justify-content: center;
  }
  .headers header .logo {
    position: static;
    left: 0;
    width: 40%;
    margin: 30px 0;
  }
  .headers .menu {
    display: none;
  }
  .headers .kv {
    padding: 0 20px;
  }
  .headers .kv .main_visual {
    width: 100%;
    height: 230px;
  }
  .headers .kv .cursive_img {
    display: none;
  }
  .headers .kv .cursive_sp {
    position: absolute;
    display: inline;
    z-index: 2;
    left: 6%;
    width: 60%;
    top: 4%;
  }
  .headers .smalltitle {
    margin-left: 0;
    text-align: center;
  }
}
.maintitle {
  text-align: center;
  font-size: 25px;
  margin: 30px;
  font-weight: 500;
}

.contentss {
  display: flex;
  max-width: 1024px;
  margin: 0 200px;
  flex-wrap: wrap;
  justify-content: center;
}
.contentss .content-hover {
  margin: 20px auto 0;
  transition-duration: 0.5s;
  width: 300px;
}
.contentss .content-hover .content .texts {
  margin: 10px;
}
.contentss .content-hover .content .title {
  width: auto;
  height: 120px;
}
.contentss .content-hover .content .line {
  text-decoration: none;
}
.contentss .content-hover .content .more {
  text-align: right;
}
.contentss .content-hover .content .readmore {
  justify-content: flex-end;
  position: relative;
  font-size: 13px;
}

.line {
  position: relative;
  /*アンダーラインの位置を決めるための基準 */
}

a::before {
  position: absolute;
  content: "";
  width: 15%;
  height: 2px;
  background: black;
  bottom: -6px;
  right: 0px;
}

a::after {
  position: absolute;
  /*親要素であるaタグを基準に位置を指定*/
  left: 0;
  /*アンダーラインを各メニュー（aタグ）の左端に指定*/
  content: "";
  /*本来は、擬似要素に入るテキストなどを’’内に指定。今回はアンダーラインなので何も記載しない*/
  width: 100%;
  /*アンダーラインを各aタグの幅に合わせる*/
  height: 2px;
  /*アンダーラインの高さ（太さ）*/
  background: #000000;
  /*アンダーラインの色*/
}

a::after {
  position: absolute;
  left: 5px;
  content: "";
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: right top;
  /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  transition: transform 0.3s;
  /*変形の時間*/
  margin: -5px;
}

.content-hover:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  transition-duration: 0.5s;
}
.content-hover:hover a::after {
  transform: scale(1, 1);
  /*ホバー後、x軸方向に1（相対値）伸長*/
}

@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }
  body .contentss {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
body footer {
  margin-top: 80px;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */